

VITE_TMDB_API_KEY=51e0e93a293a56c797a72c9bcfbf43f9
VITE_TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MWUwZTkzYTI5M2E1NmM3OTdhNzJjOWJjZmJmNDNmOSIsIm5iZiI6MTc4NTkxNTk0OC44MjgsInN1YiI6IjZhNzJlYTJjNDUzZjk4MjdhNTEyNDBhNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.c686Ahypt0hWG4st0GgQL8Vd-4LNYeGdeLOppPL3zlg.c686Ahypt0hWG4st0GgQL8Vd-4LNYeGdeLOppPL3zlg
VITE_API_URL=https://api.themoviedb.org/3/
VITE_TMDB_IMAGE_URL=https://image.tmdb.org/t/p/



VITE_FIREBASE_API_KEY=AIzaSyANbbwMp68mR_yqfETKZUdL4bm-aMcmTRQ
VITE_FIREBASE_AUTH_DOMAIN=weather-with-oauth.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=weather-with-oauth
VITE_FIREBASE_STORAGE_BUCKET=weather-with-oauth.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=103725081854
VITE_FIREBASE_APP_ID=1:103725081854:web:6db5b77b49a4ad2075f1af