# Node
node_modules/

# Expo
.expo/
.expo-shared/

# Build
web-build/
.auth-web-export/
.auth-native-export/
google-services.json
GoogleService-Info.plist

# Native folders
android/
ios/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Environment
.env
.firebase-cli-config/
firebase-debug.log*

# Local iOS simulator tooling
forIoS/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.keystore
