# Node
node_modules/

# Expo
.expo/
.expo-shared/

# Build
web-build/

# Native folders
android/
ios/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Local iOS simulator tooling
forIoS/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.keystore
